<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Никакой параметр настроек не является обязательным :) -->
    
    <!-- Порт на котором будет работать сервер Меркурия. По умолчанию 8090. -->
    <add key="httpServerPort" value="8090" />
  
    <!--Настройки ОФД. Если записаны в фискальный регистратор, то следующие два параметра можно удалить.
        Настроено для Питер-сервис ofdIP = 94.143.160.11 и ofdPort = 4000 -->
    <add key="ofdIP" value="94.143.160.11"/> 
    <add key="ofdPort" value="4000"/>
    
    <!-- Таймер ОФД (10..3600 с). По умолчанию 300 секунд. Периодичность обмена с ОФД. -->
    <add key="ofdTimer" value="10"/>
    
    <!-- Таймер ФН (10..60 с). По умолчанию 30 секунд. -->
    <add key="fnTimer" value="30"/>

    <!-- IP-адрес для просмотра чека. По умолчанию 0.0.0.0 -->
    <add key="ofdDocIP" value="0.0.0.0"/>

    <!-- Лог-файл C:\Users\user\AppData\Roaming\Incotex\MercuryOfdFPDriver. По умолчанию ложь. -->
    <add key="mercuryLog" value="true"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>
